DISCORD_TOKEN= // Token do bot
DISCORD_CLIENT_ID= // ID da aplicação do bot (Client ID)
VOICE_GENERATOR_CHANNEL= // ID do canal de voz gerador
DATABASE_URL=postgresql://username:password@localhost:5432/foxcord_db
